<div class="cards">
  <div class="card card_type_about">
    <div class="card__header">
      Flower delivery in Minsk
    </div>
    <a class="card__subheader" href="#">
      More details
    </a>
    <img class="card__image" src="../../../assets/home/about_1.png">
  </div>
  <div class="card card_type_promo">
    <div class="card__header">
      Everything for your garden
    </div>
    <div class="card__subheader">
      Discounts up to 50%
    </div>
    <img class="card__image" src="../../../assets/home/promo_1.png">
  </div>
</div>
