.wrapper {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  .spinner {
    margin-top: 50px;
  }
}

::ng-deep {
  .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #b4b4b4;
  }
}
