<div class="wrapper">
  <div class="logo">
    <img src="../../../../assets/footer/logo.png" class="logo__image" (click)="logoClick()"/>
  </div>
  <div class="catalog-links">
    <div class="catalog-links__header">CATALOG</div>
    <div class="catalog-links__links-grid">
      <a class="catalog-links__link" href="#">Fresh flowers</a>
      <a class="catalog-links__link" href="#">Floral accessories</a>
      <a class="catalog-links__link" href="#">Indoor plants</a>
      <a class="catalog-links__link" href="#"
        >Compositions made of artificial materials and dried flowers</a
      >
      <a class="catalog-links__link" href="#">Planting material</a>
      <a class="catalog-links__link" href="#">Landscape design</a>
    </div>
  </div>
  <div class="store-links">
    <div class="store-links__header">STORE</div>
    <div class="store-links__links-grid">
      <a class="store-links__link" routerLink="about-us"> About us </a>
      <a class="store-links__link" routerLink="news">News</a>
      <a class="store-links__link" routerLink="contacts">Contracts</a>
    </div>
  </div>
  <div class="social-media-links">
    <div class="social-media-links__header">SOCIAL MEDIA</div>
    <div class="social-media-links__links-flex">
      <a class="social-media-links__link" (click)="socialMediaClick()">
        <img src="../../../../assets/footer/facebook_icon.png" />
      </a>
      <a class="social-media-links__link" (click)="socialMediaClick()">
        <img src="../../../../assets/footer/tic_toc_icon.png" />
      </a>
      <a class="social-media-links__link" (click)="socialMediaClick()">
        <img src="../../../../assets/footer/vk_icon.png" />
      </a>
      <a class="social-media-links__link" (click)="socialMediaClick()">
        <img src="../../../../assets/footer/instagram_icon.png" />
      </a>
    </div>
  </div>
  <div class="copyrights">
    <div class="copyrights__company-name">© FlowerShop, 2021</div>
    <div class="copyrights__email">info@flowershop.by</div>
  </div>
</div>
