<div
  class="container"
  [ngClass]="{
    container_style_error: errorCondiion ?? isFormControlInvalid(control),
    container_type_stripe: isStripe
  }"
>
  <input
    *ngIf="!control && !isNumbersOnly"
    class="input"
    [ngClass]="{input_type_stripe: isStripe}"
    name="input"
    id="input"
    type="text"
    [placeholder]="isStripe ? labelText : ' '"
    maxlength="255"
    [ngModel]="value"
    (ngModelChange)="valueChanges($event)"
  />
  <input
    *ngIf="!control && isNumbersOnly"
    class="input"
    [ngClass]="{input_type_stripe: isStripe}"
    name="input"
    id="input"
    type="number"
    [placeholder]="isStripe ? labelText : ' '"
    maxlength="255"
    [max]="maxValue ?? DefaultNumberMaxValue"
    [ngModel]="value"
    (ngModelChange)="valueChanges($event)"
  />
  <input
    *ngIf="control && !(isTextArea || isPhone)"
    class="input"
    [ngClass]="{input_type_stripe: isStripe}"
    name="input"
    id="input"
    type="text"
    [placeholder]="isStripe ? labelText : ' '"
    maxlength="255"
    [formControl]="$any(control)"
  />
  <input
    *ngIf="control && isPhone"
    phoneMask
    class="input"
    name="input"
    id="input"
    type="text"
    placeholder=" "
    maxlength="255"
    [formControl]="$any(control)"
  />
  <textarea
    *ngIf="control && isTextArea"
    class="textarea"
    name="input"
    id="input"
    type="email"
    placeholder=" "
    [formControl]="$any(control)"
    maxlength="255"
  ></textarea>
  <label for="input" class="label" *ngIf="!isStripe">
    {{ labelText }}
    <span *ngIf="required" class="label_type_star">*</span>
  </label>
  <ng-content></ng-content>
</div>
