<div class="small-cards">
  <div class="small-card">
    <img class="small-card__image" src="../../../assets/home/logo_1.png">
    <div class="small-card__header">Fresh flowers</div>
    <div class="small-card__subheader">from 17,35 r.</div>
  </div>
  <div class="small-card">
    <img class="small-card__image" src="../../../assets/home/logo_2.png">
    <div class="small-card__header">Indoor plants</div>
    <div class="small-card__subheader">from 9,45 r.</div>
  </div>
  <div class="small-card">
    <img class="small-card__image" src="../../../assets/home/logo_3.png">
    <div class="small-card__header">Planting material</div>
    <div class="small-card__subheader">more than 500 species</div>
  </div>
  <div class="small-card">
    <img class="small-card__image" src="../../../assets/home/logo_4.png">
    <div class="small-card__header">Floral accessories</div>
    <div class="small-card__subheader">more than 500 species</div>
  </div>
  <div class="small-card">
    <img class="small-card__image" src="../../../assets/home/logo_5.png">
    <div class="small-card__header">Compositions made of artificial materials...</div>
    <div class="small-card__subheader">for home comfort</div>
  </div>
  <div class="small-card">
    <img class="small-card__image" src="../../../assets/home/logo_6.png">
    <div class="small-card__header">Landscape design</div>
    <div class="small-card__subheader">for your garden</div>
  </div>
</div>
