<app-navigation [paths]="paths"></app-navigation>
<div class="wrapper">
  <div class="header">
    About us
  </div>
  <img src="../../../assets/about-us/image_1.png" class="big-image">
  <div class="paragraph">
    For several years now, our company has been delighting customers with the delivery of flowers and congratulations.
    We are really proud of the clear and well-coordinated work of our employees and are always confident that your order
    will be delivered at the right time to the right place.
  </div>
  <app-work-examples></app-work-examples>
  <img src="../../../assets/about-us/image_5.png" class="big-image image-2">
  <div class="advantages">
    <div class="advantages__header">
      Our advantages
    </div>
    <div class="advantage">
      <img src="../../../assets/about-us/advantage_image.png" class="advantage__image">
      <div class="advantage__text">
        All the flowers that you see on the site are available.
        The flowers are updated very often and we guarantee that the flowers you choose will be fresh.
        The site is updated every day.
      </div>
    </div>
    <div class="advantage">
      <img src="../../../assets/about-us/advantage_image.png" class="advantage__image">
      <div class="advantage__text">
        You can see live photos of bouquets in the hands of girls.
        This will help you understand what a bouquet looks like, what number and size of flowers you need.
      </div>
    </div>
    <div class="advantage">
      <img src="../../../assets/about-us/advantage_image.png" class="advantage__image">
      <div class="advantage__text">
        We do not limit you in the number of flowers in one bouquet.
        You can also choose different flowers in one bouquet.
      </div>
    </div>
    <div class="advantage">
      <img src="../../../assets/about-us/advantage_image.png" class="advantage__image">
      <div class="advantage__text">
        Our prices do not differ from the prices in various flower shops, and in most cases even lower than them.
        But you don't have to go anywhere.
        We will deliver it to you, and at the same time we will provide a very wide selection.
      </div>
    </div>
  </div>
</div>
