<div class="wrapper">
  <div class="header">
    <div class="header__title">Filter</div>
    <app-cross-button
      class="header__button_close"
      [isOnlyCross]="true"
      (click)="close()"
    ></app-cross-button>
  </div>
  <div class="separator"></div>
  <div class="filters">
    <div class="cost">
      <div class="cost__header">Cost</div>
      <div class="cost__inputs">
        <app-text-input
          [labelText]="'From'"
          [(value)]="sliderData.fromValue"
          [isNumbersOnly]="true"
          [maxValue]="sliderData.options.ceil"
        ></app-text-input>
        <app-text-input
          [labelText]="'To'"
          [(value)]="sliderData.toValue"
          [isNumbersOnly]="true"
          [maxValue]="sliderData.options.ceil"
        ></app-text-input>
      </div>
      <ngx-slider
        class="cost__slider"
        [(value)]="sliderData.fromValue"
        [(highValue)]="sliderData.toValue"
        [options]="sliderData.options"
      ></ngx-slider>
    </div>
    <div class="category">
      <div class="category__header">Category</div>
      <div class="category__checkboxes">
        <app-radio-button
          *ngFor="let category of categories; let i = index"
          [value]="category.id"
          [(model)]="selectedCategoryId"
        >
          <div class="text">
            {{ category.name }}
          </div>
        </app-radio-button>
      </div>
    </div>
    <div class="actions">
      <app-button [filled]="true" (clicked)="applyFilters()"
        >Apply filter</app-button
      >
      <app-button [filled]="false" (clicked)="clearFilters()"
        >Clear filter</app-button
      >
    </div>
  </div>
</div>
