<app-navigation [paths]="paths"></app-navigation>
<div class="wrapper">
  <app-categories></app-categories>
  <div class="separator"></div>
  <div class="header">Catalog</div>
  <div class="paragraph">
    For several years now, our company has been delighting customers with the
    delivery of flowers and congratulations. We are really proud of the clear
    and well-coordinated work of our employees and are always confident that
    your order will be delivered at the right time to the right place.
  </div>
  <app-loading-indicator *ngIf="isLoading"></app-loading-indicator>
  <app-products-content
    [flowers]="flowers"
    [response]="response"
    [perPage]="16"
    *ngIf="!isLoading"
  ></app-products-content>
  <app-cards></app-cards>
</div>
