<app-navigation [paths]="paths"></app-navigation>
<div class="wrapper">
  <div class="header">My account</div>
  <form class="form" [formGroup]="accountForm">
    <app-text-input
      class="form__first-name"
      [(control)]="accountForm.controls.firstName"
      [required]="true"
      labelText="First name"
    >
      <div
        class="error"
        *ngIf="isFormControlHasError(firstNameControl, 'required')"
      >
        First name field can't be empty.
      </div>
    </app-text-input>
    <app-text-input
      class="form__last-name"
      [(control)]="accountForm.controls.lastName"
      [required]="true"
      labelText="Last name"
    >
      <div
        class="error"
        *ngIf="isFormControlHasError(lastNameControl, 'required')"
      >
        Last name field can't be empty.
      </div>
    </app-text-input>
    <app-text-input
      class="form__email"
      [(control)]="accountForm.controls.email"
      [required]="true"
      labelText="Email"
    >
      <div
        class="error"
        *ngIf="isFormControlHasError(emailControl, 'required')"
      >
        Email field can't be empty.
      </div>
      <div class="error" *ngIf="isFormControlHasError(emailControl, 'email')">
        Email field must contain email.
      </div>
    </app-text-input>
    <app-text-input
      class="form__phone"
      [(control)]="accountForm.controls.phone"
      [required]="true"
      [isPhone]="true"
      labelText="Phone"
    >
      <div
        class="error"
        *ngIf="isFormControlHasError(phoneControl, 'required')"
      >
        Phone field can't be empty.
      </div>
      <div
        class="error"
        *ngIf="isFormControlHasError(phoneControl, 'minlength')"
      >
        Phone field must contain all numbers.
      </div>
    </app-text-input>
    <iframe
      class="form__map"
      loading="lazy"
      allowfullscreen
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCH4Vnl0vn9wP15KkS6grvqDHJnprTNKFo
        &q=Кальварийская+19"
    >
    </iframe>
    <app-text-input
      class="form__address"
      [(control)]="accountForm.controls.homeAddress"
      [required]="true"
      labelText="Address"
    >
      <div
        class="error"
        *ngIf="isFormControlHasError(homeAddressControl, 'required')"
      >
        Home address field can't be empty.
      </div>
    </app-text-input>
    <div class="form__help">
      You can enter the address manually or specify a point on the map
    </div>
  </form>
  <div class="save-changes__button">
    <app-button (clicked)="updateCurrentUser()">Save changes</app-button>
  </div>
  <div class="password-change__label">Password</div>
  <form [formGroup]="changePasswordForm" class="password-change">
    <div class="password-change__inputs" *ngIf="isChangePasswordInputsShow">
      <app-text-input
        class="password-change__input"
        [(control)]="changePasswordForm.controls.newPassword"
        labelText="New password"
      >
        <div class="error" *ngIf="isFormControlHasError(changePasswordForm.controls.newPassword, 'required')">
          New password can't be empty!
        </div>
        <div class="error" *ngIf="isFormControlHasError(changePasswordForm.controls.newPassword, 'passwordValidator')">
          Password must be at least 8 characters long, contain A-z, 0-9.
        </div>
      </app-text-input>
      <app-text-input
        class="password-change__input"
        [(control)]="changePasswordForm.controls.newPasswordConfirm"
        labelText="Confirm new password"
      >
        <div class="error" *ngIf="isFormControlHasError(changePasswordForm.controls.newPasswordConfirm, 'required')">
          Confirm new password can't be empty!
        </div>
        <div class="error" *ngIf="isFormControlHasError(changePasswordForm, 'checkNewPasswordsValidator')">
          Passwords do not match!
        </div>
      </app-text-input>
    </div>
    <div class="password-change__button">
      <app-button [filled]="isChangePasswordInputsShow" (clicked)="changePasswordClick()">Change password</app-button>
    </div>
  </form>
  <div class="sign-out__label">Sign out</div>
  <div class="sign-out__button">
    <app-button
      [filled]="false"
      [mainColor]="'#EB5757'"
      [hoverColor]="'#EB5757'"
      (clicked)="logOutClick()"
    >
      Sign out
    </app-button>
  </div>
</div>
