<div class="wrapper">
  <div class="header">
    <div class="header__title">
      Sorting
    </div>
    <app-cross-button class="header__button_close" [isOnlyCross]="true" (click)="close()"></app-cross-button>
  </div>
  <div class="separator"></div>
  <div class="sorts">
    <div class="sorts__header">
      Sort by
    </div>
    <div class="radio__group">
      <app-radio-button [(model)]="sortParameters" [value]="sorts.nameAsc">
        By name (A - Z)
      </app-radio-button>
      <app-radio-button [(model)]="sortParameters" [value]="sorts.nameDesc">
        By name (Z - A)
      </app-radio-button>
      <app-radio-button [(model)]="sortParameters" [value]="sorts.priceAsc">
        By cost (ascending)
      </app-radio-button>
      <app-radio-button [(model)]="sortParameters" [value]="sorts.priceDesc">
        By cost (descdending)
      </app-radio-button>
    </div>
    <app-button class="sorts__button sorts__button_type_apply" (clicked)="applySorts()">
      <img src="../../../../assets/registration/arrow.png" /> Apply sorting
    </app-button>
  </div>
</div>
