@import '../../../../sass/vars.scss';

.container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 22px;
  height: 2px;
  margin: 6px 0;
  transition: 0.4s;
}

.black {
  .bar1, .bar2, .bar3 {
    background-color: $cross-button-first-color;
  }
}

.white {
  .bar1, .bar2, .bar3 {
    background-color: $cross-button-second-color;
  }
}

.change {
  .bar1 {
    -webkit-transform: rotate(-45deg) translate(-8px, 6px);
    transform: rotate(-45deg) translate(-8px, 6px);
  }

  .bar2 {
    opacity: 0;
  }

  .bar3 {
    -webkit-transform: rotate(45deg) translate(-5px, -3px);
    transform: rotate(45deg) translate(-5px, -3px);
  }
}
