@import '../../../../sass/vars.scss';

.wrapper {
  width: 100%;
  height: 100%;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 64px;

    &__title {
      font-style: normal;
      font-weight: bold;
      font-size: 22px;
      line-height: 120%;
      color: $sorts-header-color;
    }

  }

  .separator {
    position: relative;
    left: -30px;
    width: calc(100% + 60px);
    height: 1px;
    background: $sorts-separator-color;
    opacity: 0.2;
    margin-bottom: 40px;
  }

  .sorts {
    &__header {
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 150%;
      color: $sorts-group-color;
      margin-bottom: 22px;
    }

    .radio {
      &__group {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 268px;
      }
    }

    &__button {
      &_type_apply {
        position: absolute;
        bottom: 20px;
        left: 20px;
        width: calc(100% - 40px);
      }
    }
  }
}

::ng-deep {
  .mat-dialog-container {
    max-width: 100% !important;
    max-height: 100% !important;
    width: 100% !important;
    height: 100% !important;
    border: 0 !important;
    padding: 0 30px !important;
  }

  .mat-radio-label {
    .mat-radio-container {
      .mat-radio-outer-circle {
        border-color: $sorts-radio-border-color !important;
      }

      .mat-radio-inner-circle {
        background: $sorts-radio-background-color !important;
      }

      .mat-ripple {
        display: none !important;
      }
    }

    .mat-radio-label-content {
      font-style: normal !important;
      font-weight: normal !important;
      font-size: 18px !important;
      line-height: 150% !important;
      color: $sorts-radio-label-text-color !important;
      margin-left: 24px;
      padding-left: 0;
    }
  }
}
