<div class="medium-images">
  <!-- <img src="../../../assets/about-us/image_2-4.png" class="medium-images__image"> -->
  <div class="images">
    <img class="images__image" src="../../../../assets/about-us/image_2.png">
    <img class="images__image" src="../../../../assets/about-us/image_3.png">
    <img class="images__image" src="../../../../assets/about-us/image_4.png">
  </div>
  <div class="images__subtext">
    Examples of our work
  </div>
</div>
<div class="paragraph">
  We always know where your order is located, at any time it can be tracked thanks to the means of mobile communication and navigation that each of our couriers has, regardless of whether he moves on foot or using one of the types of his own transport.
  We are pleased with the constant influx of new customers, and we value each of them. And our reputation is growing every day thanks to constant feedback from grateful customers who have used our services.
</div>
