@import '../../../../../sass/vars.scss';
@import '../../../../../sass/mixins.scss';

.wrapper {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0 $laptop-padding;
  padding-top: 76px;

  .content {
    &_up {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 26px;

      .header {
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 120%;
        color: $search-content-header-color;
      }
    }
  }

  .search {
    display: flex;
    flex-direction: column;

    &__icon {
      position: absolute;
      right: 37px;
      top: 24px;
    }
  }

  .results {
    margin-top: 50px;

    &__header {
      font-style: normal;
      font-weight: bold;
      font-size: 28px;
      line-height: 120%;
      color: $search-results-header-color;
      margin-bottom: 26px;
    }
  }
}

::ng-deep {
  .backdrop {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(40px);
  }

  .mat-dialog-container {
    padding: 0;
    background: none;
  }
}
