@import '../../../../sass/vars.scss';
@import '../../../../sass/mixins.scss';

.container {
  position: relative;
  display: flex;
  flex-direction: row;
}

.radio {
  position: absolute;
  opacity: 0;
  width: 20px;
  height: 20px;
  margin: 0;

  &:checked + label::before {
    background-image: url(../../../../assets/radio-button/radiobutton_active.png);
  }
}

label {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  width: 20px;
  height: 20px;

  &::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(../../../../assets/radio-button/radiobutton_default.png);
  }
}

::ng-deep {
  .text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: $catalog-page-checks-text-color;
    margin-left: 24px;
  }
}
