@import '../../../../sass/vars.scss';
@import '../../../../sass/mixins.scss';

.categories {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2%;
  margin-bottom: 65px !important;
  margin: 0 $laptop-padding;

  .category {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100px;
    max-width: 160px;
    height: 100%;

    &__image {
      margin-bottom: 16px;
      width: 40px;
      height: 40px;
    }

    &__header {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 150%;
      margin-bottom: 4px;
      color: $home-page-text-base-color;
      text-align: center;
    }

    &__description {
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 150%;
      height: 40px;
      color: $home-page-text-second-color;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

@include resolution_tablets {
  .categories {
    overflow-x: auto;
    margin: 0 $tablet-and-phone-padding;
  }
}
