@import '../../../sass/vars.scss';
@import '../../../sass/mixins.scss';

.article__wrapper {
  width: 100%;
  box-sizing: border-box;
  padding: 0 $laptop-padding;

  .header {
    @include gradient_text($article-page-header-color-1, $article-page-header-color-2);
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 120%;
    margin-bottom: 20px;
  }

  .paragraph {
    width: 73%;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 170%;
    color: $article-page-paragraph-color;
    margin-bottom: 65px;

    &_color_black {
      margin-bottom: 65px;
      width: 73%;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 150%;
      color: $article-page-paragraph-black-color;
    }
  }

  .image_size {
    &_big {
      width: 100%;
      margin-bottom: 65px;
    }

    &_medium {
      width: 73%;
      margin-bottom: 65px;
    }
  }
}

@include resolution_tablets {
  .article__wrapper {
    padding: 0 $tablet-and-phone-padding;

    .paragraph {
      width: 100%;

      &_color_black {
        width: 100%;
      }
    }

    .image_size_medium {
      width: 100%;
    }
  }
}

