@import '../../../../sass/vars.scss';

.wrapper {
  width: 100%;
  height: 100%;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 64px;

    &__title {
      font-style: normal;
      font-weight: bold;
      font-size: 22px;
      line-height: 120%;
      color: #404040;
    }
  }

  .separator {
    position: relative;
    left: -30px;
    width: calc(100% + 60px);
    height: 1px;
    background: #404040;
    opacity: 0.2;
    margin-bottom: 40px;
  }

  .filters {
    grid-column: 1/2;
    display: flex;
    flex-direction: column;

    .cost {
      &__header {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 150%;
        color: #404040;
        margin-bottom: 14px;
      }

      &__inputs {
        display: flex;
        flex-direction: row;
        gap: 15px;
        margin-bottom: 20px;
      }

      ::ng-deep &__slider {
        margin: 15px 0;

        .ngx-slider-selection {
          background-color: rgba(255, 93, 125, 1);
        }

        .ngx-slider-bubble {
          display: none;
        }

        .ngx-slider-pointer {
          top: -9px;
          width: 21px;
          height: 21px;
          outline: none;
          background: #ff5d7d;
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
        }

        .ngx-slider-pointer:after {
          background: none;
        }

        .ngx-slider-pointer:hover:after {
          background: none;
        }
      }
    }

    .category,
    .additional {
      &__header {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 150%;
        color: #404040;
        margin: 26px 0;
      }

      &__checkboxes {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 30px;
      }

      &__container {
        position: relative;
        display: flex;
        flex-direction: row;
        gap: 24px;
      }

      &__checkbox {
        width: 20px;
        height: 20px;
        position: absolute;
        opacity: 0;

        & + label {
          display: inline-flex;
          align-items: center;
          user-select: none;
        }
        & + label::before {
          content: "";
          display: inline-block;
          width: 20px;
          height: 20px;
          background: $registration-page-checkbox-color-1;
          border: $registration-page-checkbox-border;
          border-radius: 4px;
          background-repeat: no-repeat;
          background-position: center center;
        }
        &:checked + label::before {
          border-color: $registration-page-checkbox-color-2;
          background-color: $registration-page-checkbox-color-2;
          background-image: url(../../../../assets/registration/arrow.png);
        }
        &:checked ~ .category__text {
          font-style: normal;
          font-weight: bold;
          font-size: 18px;
          line-height: 150%;
          color: #404040;
        }
      }

      &__text {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 150%;
        color: $registration-page-checks-text-color;
      }
    }

    .actions {
      display: flex;
      flex-direction: column;
      gap: 24px;
      margin-bottom: 24px;
    }
  }

  .form {
    &__label {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 150%;
      color: $input-label-color;
      pointer-events: none;
      position: absolute;
      transform-origin: 0 50%;
      transition: transform 200ms, color 200ms;
      left: 16px;
      top: 16px;
    }

    &__container {
      position: relative;

      &_style_error {
        .form__input {
          border-color: #eb5757;
        }

        .form__label {
          color: #eb5757;
        }

        .form__error {
          position: absolute;
          display: block;
          margin-top: 7px;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 150%;
          color: #eb5757;
        }
      }
    }

    &__input {
      outline: none;
      background: $input-background-color;
      border: $input-border;
      box-sizing: border-box;
      border-radius: 4px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 150%;
      color: $input-text-color;
      padding: 0 16px;
      padding-top: 20px;
      width: 100%;
      height: 50px;

      &:focus ~ .form__label,
      &:not(:placeholder-shown) ~ .form__label {
        font-size: 14px;
        transform: translateY(-10px);
      }
    }
  }
}

::ng-deep {
  .mat-dialog-container {
    max-width: 100% !important;
    max-height: 100% !important;
    width: 100% !important;
    height: 100% !important;
    border: 0 !important;
    padding: 0 30px !important;
  }
}
